body {
	background-color: rgb(214,92,64);
	font-family: sans-serif;
}

h1 {
	margin: auto;
	text-align: center;
	font-size: 65px;
	padding-top: 10px;
}

a {
	text-decoration: none;
	/*color: rgb(82,76,4);*/
	color:blue;
}

table {
	border-color: rgb(0,0,0);
	margin: auto;
	margin-top: 20px;
}

th {
	padding: 35px;
	padding-top: 10px;
	font-size: 45px;
}

p {
	margin: auto;
	text-align: center;
	padding-right: 50%;
	padding-top: 75px;
	font-size: 25px;
}

ul {
	text-align: justify;
	width:775px;
	margin-left:auto;
	margin-right:auto;
	font-size: 20px;
}

li {
	margin-left: auto;
}

#twit{
	position: absolute;
	top: 2%;
	right: 2%;
}